{% macro render_item(item, forms) %}
    <div class="card mb-2 shadow">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="{{ url_for('static', filename=item.img_file_name) }}" id="img_{{ item.id }}" onclick="showModal({{ item.id }})" class="card-img">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h4 class="card-title"><span class="mr-4">{{ item.name }}</span><i class="fas fa-yen-sign"></i>{{ item.price }}円</h4>
                    <p class="card-text">{{ item.comment }}<div class="text-muted">(豚・卵・ネギ・小麦粉・魚介乾物)</div></p>
                    <p class="card-text mt-5">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="{{ forms[item.id].name }}" class="col-6 col-form-label h5">注文数</label>
                                    <div class="col-6">
                                        <input type="text" readonly class="form-control-plaintext" id="{{ forms[item.id].name }}"
                                               name="{{ forms[item.id].name }}" value="{{ forms[item.id].val }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-secondary" onclick="minusCnt({{ item.id }})">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary" onclick="plusCnt({{ item.id }})">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_status(status_id, bef_status_id, aft_status_id, master_status, kitchen_list, item_names, total_order_count_list) %}
    <div class="card mt-4 border-{{ COLORS[status_id] }}">
        <div class="card-header bg-{{ COLORS[status_id] }} text-white d-flex justify-content-between align-items-center">
            <span>{{ master_status[status_id - 1]['name'] }}</span>
            <span>全{{ kitchen_list[status_id] | length }}件{% if status_id == WAITING %}&nbsp;(枚数 : {{ total_order_count_list[status_id] }}枚){% endif %}</span>
        </div>
        <div id="" class="card-body">
            {% if status_id == CANCELLED or status_id == COMPLETED %}
                {% set tmp_list = kitchen_list[status_id][::-1] %}
                {% set order_list = tmp_list[0:DISPLAY_COUNT] %}
            {% else %}
                {% set order_list = kitchen_list[status_id][0:DISPLAY_COUNT] %}
            {% endif %}
            {% for order in order_list %}
            <div class="card mb-1 border-{{ COLORS[status_id] }}">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>注文 No.{{ order.order_id }}</span><span>注文時間 : {{ order.create_at | format_date }}</span>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <ul>
                                    <li>{{ item_names[ITEM_ID_BUTA] }} : {{ order.count_buta }}</li>
                                    <li>{{ item_names[ITEM_ID_MODERN] }} : {{ order.count_modern }}</li>
                                </ul>
                            </div>
                            <div class="col-md-5{% if order.loc_id != LOC_ID_181 %} text-danger{% endif %}">
                                &lt;&lt; 配達場所 &gt;&gt; <br>{{ order.loc_name }}
                            </div>
                        </div>
                        {% if status_id != CANCELLED %}
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="btn-group btn-block" role="group">
                                    {% if status_id != COMPLETED %}
                                        {% if order.loc_id == LOC_ID_181 %}
                                            <button type="button" class="btn btn-primary" onclick="updStatus({{ UPDATE_STATUS[status_id]['aft_181'] }}, {{ order.order_id }})">
                                                完了
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-primary" onclick="updStatus({{ aft_status_id }}, {{ order.order_id }})">
                                                完了
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                    {% if status_id != WAITING and status_id != CANCELLED %}
                                        {% if order.loc_id == LOC_ID_181 %}
                                            <button type="button" class="btn btn-secondary" onclick="updStatus({{ UPDATE_STATUS[status_id]['buf_181'] }}, {{ order.order_id }})">
                                                戻す
                                            </button>
                                        {% else %}
                                             <button type="button" class="btn btn-secondary" onclick="updStatus({{ bef_status_id }}, {{ order.order_id }})">
                                                戻す
                                             </button>
                                        {% endif %}
                                    {% endif %}
                                    {% if status_id == WAITING %}
                                    <button type="button" class="btn btn-danger" onclick="updStatus({{ CANCELLED }}, {{ order.order_id }})">
                                        キャンセル
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_field(field, placeholder="") %}
<div class="form-group">
    {{ field.label }}
    {% if field.errors %}
        {{ field(class_="form-control is-invalid", placeholder=placeholder) | safe }}
        <div class="invalid-feedback">
            <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        {{ field(class_="form-control", placeholder=placeholder) | safe }}
    {% endif %}
</div>
{% endmacro %}