{% macro render_item(item, forms) %}
    <div class="card mb-2">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename=item.img_file_name) }}" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}&nbsp;{{ item.price }}&nbsp;円</h5>
                    <p class="card-text">{{ item.comment }}</p>
                    <p class="card-text mt-5">
                        <div class="form-group">
                            <label for="{{ forms[item.id].name }}"></label>
                            <input type="text" name="{{ forms[item.id].name }}" class="form-control-plaintext"
                                   id="{{ forms[item.id].name }}" value="{{ forms[item.id].val }}">
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" onclick="minusCnt({{ item.id }})">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-primary" onclick="plusCnt({{ item.id }})">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_status(status_id, bef_status_id, aft_status_id, master_status, kitchen_list, item_names) %}
    <div class="card mt-4 border-{{ COLORS[status_id] }}">
        <div class="card-header bg-{{ COLORS[status_id] }} text-white">
            {{ master_status[status_id - 1]['name'] }}
        </div>
        <div id="" class="card-body">
            {% for order in kitchen_list[status_id] %}
            <div class="card mb-1">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                注文No.{{ order.order_id }}<br>
                                待ち時間: {{ order.wait_time_m }}
                            </div>
                            <div class="col-md-5">
                                <ul>
                                    <li>{{ item_names[ITEM_ID_BUTA] }}: {{ order.count_buta }}</li>
                                    <li>{{ item_names[ITEM_ID_MODERN] }}: {{ order.count_modern }}</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                配達場所: <br>
                                {{ order.loc_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary" onclick="updStatus({{ aft_status_id }}, {{ order.order_id }})">
                                        完了
                                    </button>
                                    {% if status_id != WAITING and status_id != CANCELLED %}
                                    <button type="button" class="btn btn-secondary" onclick="updStatus({{ bef_status_id }}, {{ order.order_id }})">
                                        戻す
                                    </button>
                                    {% endif %}
                                    {% if status_id == WAITING %}
                                    <button type="button" class="btn btn-danger" onclick="updStatus({{ CANCELLED }}, {{ order.order_id }})">
                                        注文キャンセル
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}