{% extends 'layout.html' %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">待ち・調理中</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">配達・完了</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% from "_formhelpers.html" import render_status %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ render_status() }}
            </div>
            <div class="col">
                {{ render_status() }}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}