{% extends 'layout.html' %}

{% block header %}{% endblock %}

{% block content %}
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="row mb-3">
                    <div class="col-md-4 offset-md-4">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <h5 class="card-header text-center"><i class="fas fa-utensils"></i> Bernie Eats <i class="fas fa-thumbs-up"></i></h5>
                    <div class="card-body">
                        <p class="card-text">
                        {% from "_formhelpers.html" import render_field %}
                        <form action="{{ url_for('view.login') }}" method="post">
                            {{ form.csrf_token }}
                            {{ render_field(form.login_id, placeholder="Login ID") }}
                            {{ render_field(form.password, placeholder="Password") }}
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">ログイン</button>
                            </div>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}