{% extends 'layout.html' %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>注文</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">注文No</div>
        </div>
        <div class="row">
            <div class="col text-center">配達</div>
        </div>
        <div class="row">
            <div class="col text-center">待ち時間</div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-primary">注文</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}