{% extends 'layout.html' %}

{% block header %}
    <div class="container">
        <div class="row mt-5">
            <div class="col text-center">
                <h1>注文状況確認</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 offset-1">
                <form>
                    <div class="form-row">
                        <div class="offset-3 col-1">
                            <input type="text" readonly class="form-control-plaintext" value="注文No: ">
                        </div>
                        <div class="col-2">
                            <input type="number" min="1" name="order_id" id="order_id" class="form-control" placeholder="注文No">
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-primary" id="search_btn">検索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5" id="res_area">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        注文No.<span id="res_order_id"></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">注文状況: <span id="res_order_status"></span>
                            <input type="hidden" name="order_id" id="order_id_hid" value="">
                        </li>
{#                        <li class="list-group-item">待ち時間: </li>#}
                        <li class="list-group-item" id="res_cancel_btn">
                            <button type="button" id="cancel_btn" class="btn btn-danger btn-block">注文をキャンセルする</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3 text-center">
                <a href="{{ url_for('view.order') }}" class="btn btn-primary btn-block">注文へ戻る</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
$(function() {
    let res_area = $('#res_area');
    let res_cancel_btn = $('#res_cancel_btn');

    res_area.hide();
    res_cancel_btn.hide();

    $('#search_btn').on('click', function() {
        res_area.hide();
        res_cancel_btn.hide();

        let order_id = $('#order_id').val();
        $.post({
            url: '{{ url_for('view.order_status') }}',
            data: {
                order_id: order_id,
                csrf_token: '{{ csrf_token() }}'
            }
        }).done( (res) => {
            console.log(res);
            if (res.is_err) {
                alert('通信エラー');
                return false;
            }

            $('#res_order_id').html(res.order_id);
            $('#res_order_status').html(res.order_stats);
            if (res.is_cancelable) {
                $('#order_id_hid').val(res.order_id);
                res_cancel_btn.show();
            }

            res_area.show();
        }).fail( (res) => {
            console.log(res);
            alert('通信エラー')
        })
    });

    $('#cancel_btn').on('click', function() {
        res_area.hide();
        res_cancel_btn.hide();

        let order_id = $('#order_id_hid').val();
        $.post({
            url: '{{ url_for('view.order_status_cancel') }}',
            data: {
                order_id: order_id,
                csrf_token: '{{ csrf_token() }}'
            }
        }).done( (res) => {
            console.log(res);
            if (res.is_err) {
                alert('通信エラー');
                return false;
            } else {
                alert(res.msg);
            }
        }).fail( (res) => {
            console.log(res);
            alert('通信エラー')
        })
    });

});
</script>
{% endblock %}