{% extends 'layout.html' %}

{% block header %}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% from "_formhelpers.html" import render_item %}
        <div class="container mt-5">
            {% for item in items %}
                <div class="row">
                    <div class="col">
                        {{ render_item(item, forms) }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">配達場所</legend>
                            <div class="col-sm-10">
                                {% for loc in locs %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="loc_id"
                                               id="loc_id_{{ loc.id }}"
                                               value="{{ loc.id }}"{% if loc.id | string == loc_id | string %} checked{% endif %}>
                                        <label class="form-check-label" for="loc_id_{{ loc.id }}">
                                            {{ loc.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">注文</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
    </form>
{% endblock %}

{% block script %}
<script>
function plusCnt(id) {
    let cnt = $(`#odr_cnt_${id}`);
    let c = cnt.val();
    if (c >= 99) {
        return false
    }
    c++;
    cnt.val(c);
}
function minusCnt(id) {
    let cnt = $(`#odr_cnt_${id}`);
    let c = cnt.val();
    if (c <= 0) {
        return false
    }
    c--;
    cnt.val(c);
}
</script>
{% endblock %}