{% extends 'layout.html' %}

{% block header %}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% from "_formhelpers.html" import render_item %}
        <div class="container mt-5">
            {% for item in items %}
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        {{ render_item(item, forms) }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <fieldset class="form-group">
                        <div class="row p-4">
                            <legend class="col-form-label col-4 pt-0"><span class="h5">配達場所</span></legend>
                            <div class="col-8">
                                {% for loc in locs %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="loc_id"
                                               id="loc_id_{{ loc.id }}"
                                               value="{{ loc.id }}"{% if loc.id | string == loc_id | string %} checked{% endif %}>
                                        <label class="form-check-label" for="loc_id_{{ loc.id }}">
                                            {{ loc.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6 offset-md-3">
                    <button type="submit" id="submit_btn" class="btn btn-primary btn-block">注文</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
    </form>
    <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="" id="modalImg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
$(function() {
    toggleDis();
});
function toggleDis() {
    let submit_btn = $('#submit_btn');
    let cnt_1 = $(`#odr_cnt_1`).val();
    let cnt_2 = $(`#odr_cnt_2`).val();
    if (cnt_1 == 0 && cnt_2 == 0) {
        submit_btn.prop("disabled", true);
    } else {
        submit_btn.prop("disabled", false);
    }
}
function plusCnt(id) {
    let cnt = $(`#odr_cnt_${id}`);
    let c = cnt.val();
    if (c >= 8) {
        return false
    }
    c++;
    cnt.val(c);
    toggleDis();
}
function minusCnt(id) {
    let cnt = $(`#odr_cnt_${id}`);
    let c = cnt.val();
    if (c <= 0) {
        return false
    }
    c--;
    cnt.val(c);
    toggleDis();
}
function showModal(item_id) {
    let src_org = $(`#img_${item_id}`).attr('src');
    $('#modalImg').attr('src', src_org);
    $('#imgModal').modal('show');
}
</script>
{% endblock %}