{% extends 'layout.html' %}

{% block header %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">商品名</th>
                        <th scope="col">注文数</th>
                        <th scope="col">小計</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for form in forms %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ form.name }} {{ form.price }}</td>
                        <td>{{ form.odr_cnt }}</td>
                        <td>{{ form.subtotal }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row">合計</th>
                        <td colspan="2"></td>
                        <td>{{ total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>配達場所: {{ loc.name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post">
                    <button type="submit" class="btn btn-primary">注文確定</button>
                    <a href="{{ url_for('view.order') }}" class="btn btn-secondary">戻る</a>
                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}